* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: none;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../img/background-img-two-backwards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 125px;
}

title,
script,
.hide {
    display: none;
    visibility: hidden;
}

h1 img {
    position:relative;
    top: -8vh;
}

.icon {
    height: 5vh;
    width: 275px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    height: auto;
    transform: scale(0.8);
}

.bold {
    font-weight: bold;
}

.gridify {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }

.top {
    z-index: 1;
}

/* media queries */
    
    @media (max-width:1000px) {
        .icon {
            height:50px;
            width: 150px;
        }
        .clock {
            font-size: 1rem;
        }
    }
    
    
    @media (max-width:700px) {
        .icon {
            height:45px;
            width: 95px;
        }
        .clock {
            display: none;
        }
    }
    
/* drop-menu logic */
    
    .dropdown {
        display: inline-block;
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #17233a;
        border-radius: 10px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        display: block;
        padding: .25rem;
        text-decoration: none;
        color: white;
    }
    
    .dropdown-content a:hover {
        background-color: #203252;
        color: #e4c78a;
        font-weight: bold;    
    }
    
    .drop-button {
        width: 10rem;
        padding: .5rem;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        background-color: transparent;
        color: white;
    }
    
    img:hover:not(h1 img) {
        transform: scale(0.9);
    }
/* drop-menu logic */
        
.clock {
    position: absolute;
    top: 90vh;
    left: 50vw;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    color: #e4c78a;
    background-color: #203252;
    opacity: 80%;
    font-size: 2rem;
    font-family: Orbitron;
    letter-spacing: 4px;
}
