*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
/*
    The above standardized CSS reset was provided by Josh Comeau
    @ https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Elements~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    max-height: 15% !important;
}

body {
    background-image: url(../img/new_bg_horiz_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 3vh;
}

footer {
    position: absolute;
    bottom: 5vh;
    left: 3vw;
}

/* Classes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    background: #333333b0;
    color: #fff;
    box-shadow: -.5vw .5vh .5em black;
}

.main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 2vh;
}

.main-nav li {
    margin: 0 1vw;
    position: relative;
}

.main-nav a,
#resourceMenu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 1vh 1vw;
}

.submenu {
    position: absolute;
    background: #17233a52;
    width: 100%;
    left: 0;
    top: 15% !important;
    height: 6vh;
    opacity: 1;
    transition: .3s ease-in-out;
    box-shadow: -.5vw .5vh .5em black;
}

.centerFlex {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
}

.main-nav li:not(.phoneCat):hover,
.padMe:not(.phoneCat):hover { 
    transform: scale(1.1);
    transition: ease-in-out .1s;
    cursor: pointer;
}

.submenu li {
    padding: 1vh 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.padMe {
    padding: 2vh 2vw;
    color: white;
}

.phoneCat {
    text-decoration: underline;
    font-weight: bold;
}

/* ID's~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#logoDiv {
    background-image: url("../img/SAJ.png");
    background-position-x: 1.5vw;
    background-position-y: .5vh;
    background-size:contain;
    background-repeat: no-repeat;
    height: 13vh;
    display: flex;
    align-items: flex-end;
}

#portalMenu,
#resourceMenu {
    width: 100% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
}

#portalMenuBody,
#resourceMenuBody {
    background: #17233a52;
    box-shadow: -.5vw 1vh .5em black;
    border: 1px solid rgba(255, 255, 255, 0.034);
    border-radius: 5px;
}

#portalMenu img {
    width: 11vw;
    height: 7.5vh;
} 

#phoneIcon {
    transform: scale(0.9);
}

#phoneBank {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    left: 80% !important;
    width: fit-content !important;
    height: 80% !important;
    overflow-y: scroll;
}

/* Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1600px) and (max-height: 1080px) {

    .submenu {
        margin-top: 5vh;
    }

    #docMenu,
    #phoneBank {
        margin-top: 5vh;
    }
}