/* font fix start */
html {
    font-size: 16px;
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerWrap,
main {
    background-color: rgba(240, 248, 255, 0.856);
    width: 60vw;
    border-radius: 10px;
}
body {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
}

/* font fix end */
/* macro start */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: unset;
    margin: unset;
}

body {
    position: relative;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 14vh;
    top: 0;
    left: 0;
    z-index: 99;
}

    header * {
        border-radius: 10px;
    }

        .headerWrap {
            width: 63%;
            position: relative;
            margin: 0 auto;
            text-align: center;
            padding-top: 1rem;
        }

main {
    margin-top: 14%;
}

.pageWrap {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 50vw;
    row-gap: 1rem;
    margin: 0 auto;
}
    table input,
    textarea {
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgb(184, 184, 184);
    }

textarea {
    resize: none;
    padding-left: 0.1rem;
}

p {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
    background-color: whitesmoke;
}

th {
    text-align: right;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.hide {
    display: none;
    visibility: hidden;
}

.yesNo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.fourWide {
    width: 100%;
    text-align: left;
    padding-left: 0.25em;
}

/* macro end */

/* Particulars */

header textarea {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
}

#headerImage {
    border-radius: 270px;
}

.fancy {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bluey {
    color: blue;
}

.bluey:hover {
    cursor: pointer;
}

.centerText {
    text-align: center;
}

.miniMe {
    font-size: smaller;
}

#r4b1,
#r4b2 {
    width: 1rem;
    text-align: center;
}


@media print {
    * {
        font-size: 0.5rem;
    }

    table {
        width: 60vw;
    }

    input[type="checkbox"] {
        transform: scale(0.65);
    }

    .yesNo {
        margin: 0;
    }

    button {
        display: none;
        visibility: hidden;
    }

    body {
        margin-top: 15%;
    }

    header {
        display: none;
    }

    header:first-of-type {
        display: contents;
    }

}

@media screen and (max-height:700px) {
    body {
        margin-top: 6vh !important;
    }
}
