*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
/*
    The above standardized CSS reset was provided by Josh Comeau
    @ https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ELEMENTS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgba(240, 248, 255, 0.856);
    width: 75vw;
}

main,
#wrap {
    border-radius: 18px;
    position: relative;
}

input[type="text"] {
    border-radius: 25px;
    border: 1px solid grey;
    padding: 0 .5rem;
    text-align: center;
}

[contenteditable="true"] {
    font-size: .8vw;
    line-height: inherit;
}

[contenteditable="true"] div {
    text-align: left !important;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

* {
    font-size: .8vw;
}

h3 {
    padding: 1vh 0;
    font-size: 1vw !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CLASSES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.centerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roundMe {
    border-radius: 120px;
}

.roundMeLess {
    border-radius: 25px;
}

.inputFormat {
    text-align: center;
}

.popup {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    background-color: white;
    color: red;
    border-radius: 25px;
    padding: 1vh 1vw;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.popup2 {
    position: absolute;
    z-index: 1;
    background-color: white;
    color: red;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1vh 1vw;
    white-space: nowrap;
}

.hoverPrompt {
    color: rgb(11, 11, 163);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.hoverPrompt:hover .popup {
    visibility: visible;
    opacity: 1;
}

.linePrompt {
    text-align: right !important;
    font-weight: bold;
    font-size: .75vw;
    border-bottom: 1px solid grey;
}

.ddEven {
    background-color: rgba(226, 226, 226, 0.842) !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.qAndABox {
    width: 100% !important;
    text-align: left !important;
}

.exit {
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 93.5%;
    left: 105%;
    margin-left: -80px;
    background-color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 0 .5vw;
    white-space: nowrap;
}

.exit2 {
    text-align: center;
    position: absolute;
    bottom: 60%;
    left: 95%;
    z-index: 1;
    background-color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 0 .5vw;
    white-space: nowrap;
}

.textAreaAlt {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid grey;
    padding: 0 0.5vw;
    border-radius: 6px;
}

.dateBox {
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ID'S */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#wrap {
    margin-top: 1vh;
    width: 70vw;
    background-color: rgba(240, 248, 255, 0.856);
    overflow: hidden;
    position: relative;
}

#summaryBox {
    width: 75% !important;
}

#routing {
    table-layout: fixed;
    min-width: 70%;
}

#details {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.textAreaAlt div {
    text-align: center;
    width: 100%;
}

#detailsTwo,
#weatherQ,
#suitability,
#coordination,
#notes {
    width: 90%;
}

#crewComments {
    width: 100%;
    height: 100%;
    padding: .5vw;
}

#crewStandards {
    position: absolute;
    background-color: white;
    padding: 1.5vh 1.5vw;
    border-radius: 6px;
    flex-direction: row !important;
    gap: 0 1vw;
}

#warningPrompt {
    height: fit-content;
    width: auto;
    background-color: white;
    color: red;
    border-radius: 25px;
    padding: 2vh 2vw;
}

#timesWarningExit {
    position: relative;
    bottom: 5vh !important;
    left: 9vw !important;
}

#printButton, #PrintButton {
    font-weight: 100 !important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media print {
    .noPrint {
        display: none;    
        visibility: hidden;
    }
}